body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    border-bottom: 2px solid white;
}

.main {
    margin: 0 auto;
    max-width: 1280px;
}

.head1 {
    max-width: 600px;
    margin: 0 auto;
}

.title h3 {
    display: inline-block;
    padding: 12px 0;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 8px;
}

.game {
    box-sizing: border-box;
    float: left;
    width: 25%;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #242528;
}

.border-header {
    margin-bottom: 12px;
}

.border-header h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 1rem;
}

.thumbnail {
    margin: -12px 0px;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    border: 1px solid #242528;
}

.thumbnail img {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container {
    width: 302px;
    height: 53px;
    margin-bottom: -8px;
    margin-top: 12px;
    padding: 4px;
}

.button {
    border-radius: 4px;
    border: 1px solid red;
    color: red;
    background-color: white;
    min-height: 34px;
    line-height: 34px;
    margin: 4px;
    padding: 0 12px;
}

#about {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
